.mono/metadata/ide_messaging_meta.txt
.mono/metadata/scripts_metadata.editor
.mono/metadata/scripts_metadata.editor_player
.mono/temp/bin/Debug/Space&Time-Mono.dll
.mono/temp/bin/Debug/Space&Time-Mono.pdb
.mono/temp/obj/Debug/Space&Time-Mono.assets.cache
.mono/temp/obj/Debug/Space&Time-Mono.dll
.mono/temp/obj/Debug/Space&Time-Mono.GeneratedMSBuildEditorConfig.editorconfig
.mono/temp/obj/Debug/Space&Time-Mono.pdb
